# ============================================================
#      CARPETAS O ARCHIVOS QUE NO SE SUBEN AL REPOSITORIO
# ============================================================

# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
*.egg

# Entornos virtuales
.venv/
.venv*/
venv/
venv*/
env/
env*/
virtualenv/
virtualenvs/
.myenv/
myenv/
pyenv/

# Environment
.env
*.env.local

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
Thumbs.db
.DS_Store

# Data
data/processed/*
!data/processed/.gitkeep

# Docker
docker-data/

# Logs
*.log
logs/
