<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Consola de Pruebas DiME</title>
</head>
<body>
    <h1 style="font-family: sans-serif; color: #031c3c;">Entorno Experimental de Sincronización DiME</h1>
    <p style="font-family: sans-serif; color: #666;">Abre la consola del navegador (Presiona <b>F12</b> o Clic Derecho -> Inspeccionar -> pestaña <b>Console</b>) para ver la magia en tiempo real.</p>

    <script src="/scripts/mockoon/sincronizacion.js"></script>
</body>
</html>